* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
body {
    background-color: #000;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100%;
    border: 5px;
    gap: 10px;
}
.left-panel {
    grid-column: 1 / 2;
}
.center-panel {
    grid-column: 2 / 3;
    padding: 0 20px;

}

.user-panel {
    grid-column: 3 / -1;
}
.user-panel, .left-panel {
    padding: 20px 10px;
    background-color: #141414;
}

.user-panel .profiles {
    padding: 10px 15px;
    background-color: #c71f1f;
    color: white;
    font-weight: 600;
    width: 100%;
    border: 0.5px solid transparent;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.05rem;
    

}
.profiles-name {
    text-align: center;
}
.navbar-header .search {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #2f2f2f;
    border: 0.5px solid transparent;
    border-radius: 10px;
    padding: 10px;
    flex: 1 1;
}

.navbar-header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}
.search input {
    flex: 1 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.05rem;
}

.navbar-header button {
    background-color: #c71f1f;
    padding: 10px 15px;
    border: 0.5px solid transparent;
    outline: none;
    color: #FFF;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.05rem;
}

.stories {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.stories .story-cards {
    display: flex;
    align-items: center;
    gap: 20px;
}
.story-cards .story {
    height: 200px;
    background-position: center;
    background-size: cover;
    flex-basis: 15%;
    flex-shrink: 0;
    display: flex;
    border-radius: 10px;
    padding: 10px;

}
.one {
    background-image: url(https://images.pexels.com/photos/4873585/pexels-photo-4873585.jpeg);
}
.two {
    background-image: url(https://images.pexels.com/photos/1594690/pexels-photo-1594690.jpeg);
}
.three {
    background-image: url(https://images.pexels.com/photos/1164475/pexels-photo-1164475.jpeg);
}
.four {
    background-image: url(https://images.pexels.com/photos/7322232/pexels-photo-7322232.jpeg)
}
.five {
    background-image: url(https://images.pexels.com/photos/7562313/pexels-photo-7562313.jpeg
    )
}
.six {
    background-image: url(https://images.pexels.com/photos/1594690/pexels-photo-1594690.jpeg);
}
.story-author {
    align-self: flex-end;
    color: #FFF;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    width: 100%;
    font-weight: 500;
}

.story-author .author-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #FFF;
}
.story-author p {
    margin-bottom: 4px;
}
.memes {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.memes-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}

.meme {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.meme-img {
    max-height: 400px;
    overflow: hidden;
    border-radius: 5px;
}
.owner {
    display: flex;
    align-items: center;
    gap: 5px;
}
.meme .owner .owner-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #000;
}

.icons {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.3rem;
}

.icons .fa-regular {
    font-weight: 400;
}
