.content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 10px;
  min-height: 100vh;
}
.sidebar {
  padding: 20px;
  background-color: #141414;
}
.left-side-bar {
  grid-column: 1;
}
.main {
  grid-column: 2 / 3;
}
.right-side-bar  {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Main */
.navbar-header {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.navbar-header .search {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #2f2f2f;
  border-radius: 5px;
  padding: 10px;
  flex: 1;
}
.search input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.05rem;
}
.navbar-header button {
  background-color: #c71f1f;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.05rem;
}
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.stories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.stories .stories-cards {
  display: flex;
  align-items: center;
  gap: 20px;
  /* overflow-x: scroll; */
}
.stories-cards .story {
  height: 200px;
  background-position: center;
  background-size: cover;
  flex-basis: 15%;
  display: flex;
  border-radius: 5px;
  padding: 10px;
}
.story-author {
  align-self: flex-end;
  color: #FFF;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  width: 100%;
  font-weight: 500;
}
.story-author .img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #FFF;
}
.story-author img {
  width: 100%;
}
.story-author p {
  text-shadow: 1px 1px #000;
}

/* Memes */
.memes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.memes .memes-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.memes-cards .meme {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background-color: #141414;
  border-radius: 10px 10px 0 0;
}
.meme .owner {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}
.meme .owner .owner-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #000;
}
.owner-img img {
 width:  100%;
}
.meme .meme-img {
  max-height: 400px;
  overflow: hidden;
  border-radius: 5px;
}
.meme-img img {
  width: 100%;
}
.meme .socials {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.3rem;
}
/* Left sidebar */

/* Right sidebar */
.right-side-bar {
  
}
.right-side-bar .profiles {
  /* background-color: #2f2f2f; */
  background-color: #c71f1f;
  width: 100%;
  border: none;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 1.05rem;
  border-radius: 5px;
  justify-content: space-between;
}
.right-side-bar .profiles .profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #000;
  overflow: hidden;
}
.profiles .profile-img img {
  width: 35px;
  height: 35px;
}
.upcoming {
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.upcoming-feats {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.upcoming-feats .feat {
  background-color: #2f2f2f;
  padding: 10px 20px;
  border-radius: 5px;
  line-height: 1.5;
  font-size: .9rem;
}
.suggested {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.suggested .suggested-memes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.suggested-memes .card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  background-color: #2f2f2f;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: .9rem;
}
.suggested-memes .card .img {
  flex-basis: 40%;
  border-radius: 5px;
  overflow: hidden;
  max-height: 55px;
}
.suggested-memes .card img {
  width: 100%;
}
.memes .head-desc {
  flex-basis: 70%;
}